<div class="container">
    <div class="row highlight navbar">
        <div class="content">
            <div class="side col">
                <h1>
                <span class="icon-stack">
                    <i class="icon-circle icon-stack-base"></i>
                    <i class="icon-lock icon-dark"></i>
                </span>
                    BlingPass
                </h1>
            </div>
            <div class="main col navlinks">
                <ul class="horizontal">
                    <li><a href="#demo">How it works</a></li>
                    <li><a href="#how-to-use-it">How to use it</a></li>
                    <li><a href="#about">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>

    <section class="row oneliner">
        <div class="full col center">
            BlingPass adds extra security to login authentication by learning how users type passwords.
        </div>
    </section>
    <section id="demo" class="mini-content row">
        <h1 class="center">How it works</h1>
        <section data-num="1" class="full col">
            <div class="box">
                <h3>Register an account</h3>
                <form id="register-form" action="/api/users" method="post" class="blingpass-form">
                    <input placeholder="Username" name="username" type="text">
                    <input placeholder="Password" name="password" type="text" class="blingpass-password" autocomplete="off">
                    <button type="submit">Submit</button>
                    <div class="error">No errors.</div>
                </form>
            </div>
        </section>

        <section data-num="2" class="full col">
            <div class="box">
                <h3>Log in with BlingPass authentication.</h3>
                <form id="login-form" action="/api/users/login" method="post" class="blingpass-form">
                    <input placeholder="Username" name="username" type="text">
                    <input placeholder="Password" name="password" type="text" class="blingpass-password" autocomplete="off">
                    <button type="submit">Submit</button>
                    <div class="error">No errors.</div>
                </form>
            </div>
        </section>
    </section>

    <section id="how-to-use-it" class="content row">
        <h1 class="center">How to use it</h1>
        <p>
            Simple API. Just add the following lines to your front-end and server.
        </p>
        <div class="half col">
            <h2>Client</h2>
            <div class="code" data-type="html">
                &lt;form class="blingpass-form"&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;input class="name" type="text"&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="password"
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class="blingpass-password"&gt;<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&lt;button type="submit"&gt;<br>
                &lt;/form&gt;
            </div>
            <div class="code" data-type="javascript">
                window.onload = function() {<br>
                &nbsp;&nbsp;BlingPass.start();<br>
                };
            </div>
        </div>
        <div class="half col">
            <h2>Server</h2>
            <div class="code" data-type="rails">
                require 'blingpass'<br>
                <br>
                def create<br>
                &nbsp;&nbsp;BlingPass.api_key = ENV['BLINGPASS_APIKEY']<br>
                &nbsp;&nbsp;BlingPass.create_user blingpass_data<br>
                end<br>
                <br>
                def login<br>
                &nbsp;&nbsp;BlingPass.api_key = ENV['BLINGPASS_APIKEY']<br>
                &nbsp;&nbsp;BlingPass.verify_user blingpass_data<br>
                end<br>
                <br>
                def blingpass_data<br>
                &nbsp;&nbsp;{<br>
                &nbsp;&nbsp;&nbsp;&nbsp;username: params[:username],<br>
                &nbsp;&nbsp;&nbsp;&nbsp;signature: {<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;params[:holds]<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;params[:flights]<br>
                &nbsp;&nbsp;&nbsp;&nbsp;}<br>
                &nbsp;&nbsp;}<br>
                end
            </div>
        </div>
    </section>

    <section id="about" class="content row about">
        <h1 class="center">About</h1>
        <p>
            Made by <a href="//linkedin.com/in/freddychen" target="_blank">Freddy Chen</a>,
                    <a href="//linkedin.com/in/tmchng" target="_blank">Tim Cheng</a>,
                    <a href="//twitter.com/og" target="_blank">John Liu</a>,
                    <a href="//twitter.com/amandeep" target="_blank">Amandeep Grewal</a>.
        </p>
        <p class="details">
            Previously at Google, Twitter, Facebook, and Amazon. Participated in various hackathons, including AngelHack,
            LinkedIn, and Greylock. We are students from the University of Toronto.
        </p>
    </section>

    <div class="footer">
    </div>
</div>
