// Grid

.col {
    box-sizing: border-box;
    float: left;
    padding: 0 1.5rem;
    width: 100%;
}

.row {
    margin: { top: 1rem; bottom: 1rem; }

    .row {
        margin: 0 -1.5rem;
    }

    &:before, &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

// Mixins

@mixin sm { @media #{'only screen and (max-width: 38rem)'} { @content; } }
@mixin md { @media #{'only screen and (max-width: 54rem)'} { @content; } }
@mixin lg { @media #{'only screen'} { @content; } }

// Core

body {
    margin: 0;
    background-color: #ecf0f1;
    font: {
        family: 'Open Sans', 'Helvetica-Neue', 'Helvetica', sans-serif;
        weight: 300;
        size: 62.5%;
    }
}

.container {
    margin: 0 auto;

    @include lg {
        font-size: 1.8rem;
    }
    @include md {
        font-size: 1.4rem;
    }
    @include sm {
        font-size: 1.4rem;
    }
}

.content {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
}

.code {
    border-style: solid;
    border-width: 1px;
    border-color: #666;
    border-radius: 0.25rem;
    background-color: darken(#ecf0f1, 10%);
    padding: 1rem;
    font-family: monospace;
    font-size: 1.1rem;
    position: relative;
    margin-bottom: 2rem;

    &[data-type] {
        margin-top: 2rem;
        margin-bottom: 4rem;

        &:before {
            display: block;
            content: attr(data-type);
            position: absolute;
            top: -1.5rem;
        }
    }
}

section {
    margin-top: 2.5rem;
    left: 4.5rem;
    &[data-num] {
        position: relative;

        &:before {
            display: block;
            font-size: 3rem;
            color: #FFFFFF;
            width: 8rem;
            height: 8rem;
            line-height: 8rem;
            text-align: center;
            background-color: #c0392b;
            content: attr(data-num);
            position: absolute;
            border-radius: 50%;
            left: -8rem;
            top: 2rem;
        }
    }
}

section.row {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mini-content {
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
}

.half {
    @include lg { width: 50%; }
    @include md { width: 50%; }
    @include sm { width: 100%; }
}

.side {
    @include lg { width: 40%; }
    @include md { width: 40%; }
    @include sm { width: 100%; }
}

.main {
    @include lg { width: 60%; }
    @include md { width: 60%; }
    @include sm { width: 100%; }
}

.highlight {
    color: #ffffff;
    background-color: #c0392b;
}

.alt {
    background-color: #ffffff;
}

.navbar {
    margin: { top: 0; bottom: 3rem }
    padding: { top: 2rem; bottom: 2rem; }
}

.navlinks {
    text-align: right;
    font-size: 1.4rem;
    margin: { top: 1rem; bottom: 1rem; };
}

.footer {
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.error {
    transition: all 0.5s, opacity 0.5s ease-in;
    clear: both;
    text-align: center;
    opacity: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 3.5rem;
    color: #FFFFFF;
    max-height: 0;

    &.showing {
        opacity: 1;
        max-height: 3.5rem;
        margin-top: 6rem;
    }

    &.good {
        background-color: #2ecc71;
    }

    &.bad {
        background-color: #c0392b;
    }
}

.about {
    .details {
        font-size: 1.4rem;
    }

    a {
        color: #666;
    }
}

// Typography

a {
    color: #fff;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
}

h1 {
    @include lg {
        font-size: 3.2rem;
        text-align: left;
    }
    @include md {
        font-size: 2.4rem;
        text-align: left;
    }
    @include sm {
        font-size: 1.8rem;
        text-align: center;
    }

    &.center {
        text-align: center;
    }
}

h2 {
    @include lg { font-size: 2.6rem; }
    @include md { font-size: 2.2rem; }
    @include sm { font-size: 1.6rem; }
}

ul.horizontal {
    display: inline-block;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        padding: 1rem;
    }
}


// Components

input, ::-webkit-input-placeholder {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0.25rem;
    margin: { top: 0.25em; bottom: 0.25em; };
    font: {
        family: 'Open Sans', 'Helvetica-Neue', 'Helvetica', sans-serif;
        weight: 300;
    };

    @include lg {
        font-size: 1.8rem;
        height: 2.8rem;
        line-height: 1.8rem;
    }
    @include md {
        font-size: 1.8rem;
        height: 2.5rem;
        line-height: 1.8rem;
    }
    @include sm {
        font-size: 1.4rem;
        height: 2.5rem;
        line-height: 1.4rem;
    }
}

button[type=submit] {
    outline: none;
    float: right;
    border-radius: 0.5rem;
    background-color: #c0392b;
    color: #FFFFFF;
    border: 0;
    margin: { top: 0.5rem; left: 0; bottom: 0.5rem; right: 0; };
    padding: { top: 0.5rem; left: 1rem; bottom: 0.5rem; right: 1rem; };
    font: {
        family: 'Open Sans', 'Helvetica-Neue', 'Helvetica', sans-serif;
        weight: 300;
    };

    @include lg { font-size: 1.8rem; }
    @include md { font-size: 1.4rem; }
    @include sm { font-size: 1.4rem; }
}